<header class="site-header" role="banner">

  <div class="wrapper">

    <div style="margin-top: -10px;">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <span class="site-sub-title">Inovator &amp; Konsultan Inovasi</span>
    </div>

    <div class="site-top-menu">
      <a href="{% link pages/esai.md %}">Esai</a> &middot;
      <a href="{% link pages/books.md %}">Buku</a> &middot;
      <a href="#">Channel Youtube</a> &middot;
      <!--<a href="#">Inovasi</a> &middot;
      <a href="#">Konsultasi</a> &middot;-->
      <a href="{% link pages/training-scrum.md %}">Training Scrum</a> &middot;
	    <a href="{% link pages/rizkiyun.md %}">Nurul Bahirah</a>
    </div>

  </div>
</header>
