---
---

@import "{{ site.theme }}";

.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: $spacing-unit / 2;
    } 
}
