---
---

@import "{{ site.theme }}";

/** header & menu */
.site-header{
  position: inherit;
  padding-top: 10px;
  padding-bottom: 13px;

  .site-title{
    font-size: 26px;
    float: none;
  }
  .site-sub-title{
    font-size: 16px;
    font-weight: bold;
    color: $grey-color;
    margin-left: 2px;
  }
  .site-top-menu{
    margin-top: -16px;
  }

}
@media only screen and (max-device-width:480px) {
    .site-header{
      padding-bottom: 7px;

      .site-sub-title {
        display: block;
        margin-top: -13px;
        margin-left: 0px;
      }
      .site-top-menu {
        margin-top: -5px;
      }
    }
}

/** image on text */
.image-wrapper {
    text-align: center;
    margin-top: ($spacing-unit / 2) + 8;
    margin-bottom: $spacing-unit / 2;
    .image-caption {
        color: $grey-color;
        max-width: 500px;
        margin: 0 auto;
    }
}

hr.short{
  display: block;
	width: 20%;
	margin: 50px auto 40px auto;
	border: 1px solid #dededc;
}
