---
layout: default
---
<article class="post">

  <p>
    Sebagai yang berbangga menjadi SJW & konsultan inovasi, saya pasang target pribadi: meyakinkan 1.000.000 kelas menengah & kelas bawah untuk menabung satoshi (unit terkecil Bitcoin), sebelum tahun 2030.
  </p>

  <p>Kenapa?</p>

  <p>
    Kalau data sejak 2011 (10 tahun lalu) terus konsisten, jika dibelikan satoshi, satu lembar Rp. 10.000 di kantong pemulung sekarang (Maret 2021) bisa senilai Rp. 300.000 minimal di tahun 2026 &mdash; bahkan bisa lebih jika inflasi juga dihitung. 30x lipat!
  </p>

  <p>
    Mudah-mudah SJW-SJW lain ikut bantu mempromosikan ini. Bitcoin adalah salah satu cara efektif bin aman bin halal untuk meningkatkan taraf hidup kaum marjinal &mdash; kaum yang paling membutuhkan keadilan sosial.
  </p>

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
