---
layout: default
---

<div class="home">

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/berlayar.jpg"
          alt="Rizky Syaiful di Pulau Seribu"
          style="margin-top:25px;"
          width="550px"/>
    <p class="image-caption">
      <em>A piece of star dust,<br>which gets busy living,<br>while waits for the death.</em>
    </p>
  </div>

  <hr class="short">

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/pp.jpg"
          alt="Rizky Syaiful"/>
    <p class="image-caption" style="color:#111;">
      Hi, My name is Rizky Syaiful! :)<br>
      Know me more, so I may help you better... ;)
    </p>
  </div>

  <p style="text-align:center;" >
    The equation below describes me very well...
  </p>

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/Elon-Rizky-equation.png"
          alt="Rizky Syaiful &amp; Elon Musk"/>
    <p class="image-caption">&nbsp;</p>
  </div>

  <p style="text-align:center;" >
    At 2007, in my 2nd year senior high school,<br>
    I submitted <a href="https://docs.google.com/file/d/1FoRBzFiOWtoRAf713E21ZXwZ9gb3ZE4_E0wTDKejzVVasuaRVGc1KuILq-aI/edit">this business proposal</a> to a competition held by ministry.<br>
    My idea:<br>Udemy-like,<br>but focus on teaching money-generating skills,<br>distributed by VCD/DVD.<br>Remember, YouTube wasn't even a thing back then.<br>
    (I didn't win, in case you wondering.)
  </p>

  <p style="text-align:center;">
    So no surprise, at 2016, I <a href="https://www.youtube.com/watch?v=H2Zo_aHxvrI&list=PLMj6ao6FLBWTgfVv7drY4Z18b8vegdlyv">created a YouTube video series</a><br>
    on how to live as happy as children.<br>My first advice: be logistically secured&mdash;or financially independent as the adult called it.<br>
    (I pause the video update. Because I want to make some passive assets,<br> so that I give real examples on the following episode.)
  </p>

  <p style="text-align:center;" >
    Not only in individual level,<br>
    human as a group is also facinated me.<br>
    In 2014, I launched a pet project called Wikikandidat.<br>
    The goal is to reduce political cost like campaign, lobbying, etc.<br>
    By providing a student-guarded wiki of election nominees.<br>
    (We <a href="https://wikikandidat.tumblr.com/post/82547489919/manfaat-kami-di-pemilu-legislatif-2014-jumlah">got 25.928 users at legislative election</a>&mdash;not much at other election.)
  </p>

  <p style="text-align:center;" >
    <strong>I really really really want to help humanity.<br>
      I think about them all the time.</strong>
  </p>

  <hr class="short">

  <p style="text-align:center;" >
    <em>"But how do you feed yourself?<br>Those takes time &amp; none of those generate money.<br>
      While you're not an employee."</em>
  </p>

  <p style="text-align:center;" >
    Yeah. You're right. Luckily, I have some career capitals:<br>
    agile software development training &amp; consultancy.
  </p>

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/rizky-on-stage.jpg"
          width="550px"
          alt="Rizky Syaiful sedang mengajar"/>
    <p class="image-caption">
      I worked 1 year for a Scrum.org trainer,<br>
      and after that I give Scrum training for 3 years.<br>
      Ex-trainees said I'm pretty good at it.</p>
  </div>

  <p style="text-align:center;">
    For now, my training &amp; consulting career cross-fund my projects.
  </p>

  <hr class="short">

  <p style="text-align:center;">
    And I know: that's bad.<br>
    I haven't sold my startup &amp;<br>
    become a millionaire like Elon Musk.
  </p>

  <p style="text-align:center;">
    But it won't be long. Because now, I combine<br>
     my career capital, my audiences,<br>&amp; my drive to uplift humanity, to one product:
  </p>

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/course-agilecampus.png"
          width="550px"
          alt="Rizky Syaiful's new venture"/>
    <p class="image-caption">
      &nbsp;
    </p>
  </div>

  <p style="text-align:center;">
    Remember my Udemy-like idea in 2007?<br>
    I'm creating just like that, but focus on agile software development skills.
  </p>

  <p style="text-align:center;">
    I tested the demand by selling it on Scrum conference.<br>
    Just with the prototype of the product. Got 6 buyers.
  </p>

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/validasi-course-agilecampus.png"
          width="550px"
          alt="Validasi produk dengan menjualnya"/>
    <p class="image-caption">
      &nbsp;
    </p>
  </div>

  <p style="text-align:center;">
    Building this stuff means I don't murder<br>my career capital&mdash;and recent cashflow.<br>It even strenghtens it!
  </p>

  <p style="text-align:center;">
    So, wish me luck...! :)
  </p>

</div>
