---
layout: default
---

<div class="home">

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/berlayar.jpg"
          alt="Rizky Syaiful di Pulau Seribu"
          style="margin-top:25px;"
          width="550px"/>
    <p class="image-caption">
      <em>A piece of star dust,<br>which get busy living,<br>while wait for the death.</em>
    </p>
  </div>

  <hr class="short">

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/pp.jpg"
          alt="Rizky Syaiful"/>
    <p class="image-caption" style="color:#111;">
      Hi, My name is Rizky Syaiful! :)<br>
      Know me more, so I can help you better... ;)
    </p>
  </div>

  <p style="text-align:center;" >
    The equation below describes me very well...
  </p>

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/Elon-Rizky-equation.png"
          alt="Rizky Syaiful &amp; Elon Musk"/>
    <p class="image-caption">&nbsp;</p>
  </div>

  <p style="text-align:center;" >
    At 2007, in my senior high school 2nd year,<br>
    I submitted <a href="https://docs.google.com/file/d/1FoRBzFiOWtoRAf713E21ZXwZ9gb3ZE4_E0wTDKejzVVasuaRVGc1KuILq-aI/edit">this business proposal</a> to a competition held by ministry.<br>
    My idea:<br>Udemy,<br>but focus on teaching money-generating skills,<br>distributed by VCD/DVD.<br>Remember, YouTube wasn't even a thing back then.<br>
    (I didn't win, in case you wondering.)
  </p>

  <p style="text-align:center;">
    No surprise, at 2016, I <a href="https://www.youtube.com/watch?v=H2Zo_aHxvrI&list=PLMj6ao6FLBWTgfVv7drY4Z18b8vegdlyv">created a YouTube video series</a><br>
    on how to live a well life.<br>The first thing is being logistically secured&mdash;or financially independent.<br>
    (I pause the video update. Because I want to make some passive assets,<br> so that I can share the journey on the following episode.)
  </p>

  <p style="text-align:center;" >
    Not only at individual level,<br>human as a group is also facinated me.<br>
    In 2014, I launched a pet project called Wikikandidat.<br>
    The goal is to reduce political cost&mdash;campaign, lobbying, etc.<br>
    By providing a student-guarded wiki of election nominees.<br>
    (We <a href="wikikandidat.tumblr.com/post/82547489919/manfaat-kami-di-pemilu-legislatif-2014-jumlah">got 26k users at legislative election</a>&mdash;not much at other election.)
  </p>

  <p style="text-align:center;" >
    <strong>I really really want to participate in uplifting humanity.</strong>
  </p>

  <p style="text-align:center;" >
    <em>"But how do you feed yourself? None of those generate money."</em>
  </p>

  <p style="text-align:center;" >
    Yeah. You right. Luckily, I have some career capitals<br>
    in software development training.
  </p>

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/rizky-on-stage.jpg"
          width="550px"
          alt="Rizky Syaiful sedang mengajar"/>
    <p class="image-caption">I worked 1 year for a Scrum.org trainer,<br>and after that I give Scrum training for 3 years.<br>Ex-trainees said I'm pretty good at it.</p>
  </div>

  <p style="text-align:center;">
    For now, my training career funds me &amp; my project.
  </p>

  <p style="text-align:center;">
    And I know: that's bad.<br>
    I haven't sold my startup &amp;<br>become a billionaire like Elon Musk.
  </p>

  <hr class="short">

  <p style="text-align:center;">
    But it won't be long. Because now,<br>
    I combine my career capital, my audiences,<br>&amp; my drive to uplift humanity, to one product:
  </p>

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/course-agilecampus.png"
          width="550px"
          alt="Rizky Syaiful's new venture"/>
    <p class="image-caption">
      &nbsp;
    </p>
  </div>

  <p style="text-align:center;">
    Remember my Udemy-like idea at 2017?<br>
    I'm creating just like that, but focus on agile software development skills.
  </p>

  <p style="text-align:center;">
    I tested the demand by selling it on Scrum conference.<br>
    Just with the prototype of the product. Got 6 buyers.
  </p>

  <div class="image-wrapper" >
    <img  src="{{ site.url }}/assets/images/validasi-course-agilecampus.png"
          width="550px"
          alt="Validasi di konferensi Scrum"/>
    <p class="image-caption">
      &nbsp;
    </p>
  </div>

  <p style="text-align:center;">
    Building this stuff means I don't murder<br>my career capital&mdash;and recent cashflow.<br>It even strenghtens it!
  </p>

  <p style="text-align:center;">
    So, wish me luck...! :)
  </p>

</div>
